<!doctype html>
<html>
<head>
<style>
#contener {
	background-color:#9977dd;
	width: 800px;
}

#left {
	background-color:#6677bb;
	float: left;
	width: 250px;
	height: 200px;
}

#main {
	background-color:#99ddcc;
	float: right;
	width: 530px;
	height: 400px;
}

#footer {
	background-color:#cc7799;
	clear: both;
	height: 100px;
}

#footer2 {
	background-color:#aa77cc;
	clear: both;
	height: 100px;
}
</style>
</head>
<body>
	<div id="contener">
		<div id="footer">footer</div>
		<div id="footer2">footer2</div>
	</div>
</body>
</html>